name: 'NaniScript'
scopeName: 'source.naniscript'
type: 'tree-sitter'
parser: 'tree-sitter-naninovel'

fileTypes: [
  'nani'
]

comments:
	start: '; '

scopes:
  'label_name': 'string'
  'comment': 'comment'
  'define_name': 'keyword.control'
#  'define_val': ''
  'command_name': 'entity.name.function'
  'named_arg': 'constant'
  'unnamed_arg': 'meta.class'

# Scope colors:
#  green 	-> string
#  azure 	-> tring.regexp
#  violet 	-> keyword.control
#  blue 	-> entity.name.function
#  yellow 	-> meta.class
#  brown 	-> constant

