name: 'NaniScript'
scopeName: 'source.naniscript'
type: 'tree-sitter'
parser: 'tree-sitter-naninovel'

fileTypes: [
  'nani'
]

comments:
	start: '; '

scopes:
  'comment': 'comment'
  'define': 'keyword.control'
  'define_value': 'meta.tag'
  'label': 'string'
  'command': 'entity.name.function'
  'inlined_command': 'entity.name.function'
  'command_param_id': 'constant'
  'command_param_value': 'meta.class'
  'expression': 'string.regexp'

# Scope colors:
#  green 	-> string
#  azure 	-> string.regexp
#  violet 	-> keyword.control
#  blue 	-> entity.name.function
#  yellow 	-> meta.class
#  brown 	-> meta.link
#  white  -> meta.tag

